extends ../layout

block content
  .form 
    header 
      h3 Enter your credentials
      if (error)
        .error #{error.msg}
    form(action="", method="post") 
      label(for="username") Username:
      br
      input#username(type="text", name="username")
      br
      label(for="password") Password: 
      br
      input#password(type="password", name="password")
      br
      button(type="submit") Log in