extends ../layout

block content
  .form 
    header 
      h3 Fill up the following fields 
      if (error)
        .error #{error.msg}
    form(action="", method="post") 

      label(for="firstname") First Name:
      br
      input#firstname(type="text", name="firstname")
      br
      label(for="lastname") Last Name:
      br
      input#lastname(type="text", name="lastname")
      br
      label(for="username") Username:
      br
      input#username(type="text", name="username")
      br
      label(for="password") Password: 
      br
      input#password(type="password", name="password")
      br
      label(for="cnfpassword") Re-type Password:
      br
      input#cnfpassword(type="password" name="cnfpassword") 
      br
      button(type="submit") Sign up